$_pn: slider-products;

@layer partials {
  .#{$_pn} {
    .swiper-wrapper {
      .swiper-slide {
        width: auto !important;

        .product-miniature {
          width: 300px;
        }
      }
    }
  }
}
