@use 'sass:map';
@use '../abstracts/colors' as c;
@use '../abstracts/media-queries' as mq;
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as var;
@use '../components/button' as btn;
@use '../utilities/row' as r;

$_ln: header;

$header: (
  breakpoint: md
) !default;

@layer layouts {
  .#{$_ln} {
    position: sticky;
    top: 0;
    font-weight: 500;
    font-size: 1.25rem;
    z-index: 100;
    width: 100%;
    overflow-x: clip;
    transition: all map.get(var.$global, animation-duration) ease-in-out;
    background-color: c.$primary-500;

    .#{$_ln}__container {
      position: relative;

      @include mq.min-device(map.get($header, breakpoint)) {
        max-width: map.get(var.$breakpoints, xxl);
        width: r.$wrapper-width;
        margin-inline: auto;
        @include mix.flex-row-align-center;
      }

      @include mq.max-device(map.get($header, breakpoint)) {
        padding: 1rem;
        align-items: center;
        @include mix.flex-row-space-between;
      }
    }

    .#{$_ln}__logo {
      display: block;
      margin-right: 2rem;
      position: relative;
      z-index: 10;
      width: 250px;

      @include mq.max-device(map.get($header, breakpoint)) {
        width: 150px;
      }
    }

    .#{$_ln}__menu {
      margin-left: auto;

      @include mq.min-device(map.get($header, breakpoint)) {
        @include mix.flex-row-align-center;
      }

      @include mq.max-device(map.get($header, breakpoint)) {
        position: absolute;
        background-color: c.$primary-500;
        padding: 5rem 0 2rem;
        width: 300px;
        height: 100dvh;
        right: 0;
        top: 0;
        transform: translateX(100%);
        will-change: transform;
        transition: transform map.get(var.$global, animation-duration) ease-in-out;
        @include mix.flex-column;
      }

      &__wrapper {
        position: relative;
        list-style: none;
        color: map.get(c.$semantic, 'white');
        flex: 1;
        @include mix.flex-row;

        @include mq.max-device(map.get($header, breakpoint)) {
          @include mix.flex-column;
          width: 100%;
        }

        li {
          position: relative;

          @include mq.max-device(map.get($header, breakpoint)) {
            width: 100%;
          }

          .#{$_ln}__menu__links {
            display: block;
            position: relative;
            z-index: 1;
            color: c.$white;
            padding: 2rem 1rem;
            transition:
              background-color map.get(var.$global, animation-duration) ease-in-out,
              padding map.get(var.$global, animation-duration) ease-in-out
            ;

            @include mq.max-device(map.get($header, breakpoint)) {
              padding: 1.5rem 2rem;
            }

            @include mq.max-device(map.get($header, breakpoint)) {
              &:is(.active, :hover, :focus) {
                background-color: c.$secondary-500;
              }
            }
          }
        }
      }
    }

    .#{$_ln}__socials {
      menu {
        list-style: none;

        li {
          @include mq.max-device(map.get($header, breakpoint)) {
            padding: 0 2rem;
          }

          a {
            display: block;
            background-color: c.$primary-300;
            padding: 0.75rem;
            color: c.$white;
            border-radius: 100rem;
            transition: background-color var.$animation-duration ease-in-out;
            width: max-content;

            &:hover {
              background-color: c.$primary-600;
            }
          }
        }
      }
    }

    .#{$_ln}__toggle {
      color: map.get(c.$semantic, 'white');
      cursor: pointer;
      position: relative;
      z-index: 10;
      width: 3rem;
      height: 3rem;
      gap: 0.5rem;
      @include mix.flex-column-center-center;

      @include mq.min-device(map.get($header, breakpoint)) {
        display: none;
      }

      & > span {
        display: block;
        width: 2.25rem;
        height: 0.25rem;
        background: map.get(c.$semantic, 'white');
        border-radius: 2px;
        transition: all 0.3s cubic-bezier(0.4,0,0.2,1);
      }
    }

    &--open {
      .#{$_ln}__menu {
        transform: translateX(0);
      }

      .#{$_ln}__toggle {
        & > span:nth-child(1) {
          transform: translateY(0.72rem) rotate(45deg);
        }
        & > span:nth-child(2) {
          opacity: 0;
        }
        & > span:nth-child(3) {
          transform: translateY(-0.72rem) rotate(-45deg);
        }
      }
    }
  }
}
