@use 'sass:map';
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as v;

@layer base {
  body {
    font-family: sans-serif;
    @include mix.flex-column;

    main {
      flex: 1;
    }
  }

  h1 {
    line-height: map.get(v.$line-height, title);
  }

  h1, h2, h3 ,h4 ,h5, h6 {
    font-family: map.get(v.$font, primary);
  }

  p, ul, a, input, button, label, table, select, ::placeholder {
    font-family: map.get(v.$font, primary);
    font-weight: 400;
  }

  section {
    position: relative;
  }
}
