@use 'sass:map';
@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;

$_cn: breadcrumb;

$breadcrumb: (
	border-radius: 0.25rem,
  color: map.get(c.$palette, primary),
	padding: 0.25rem,
  separator: '/',
) !default;

@layer components {
	nav.#{$_cn} {
		ul {
			list-style: none;
			display: inline-flex;
	
			li {
				height: max-content;
				&:not(:last-child)::after {
					content: map.get($breadcrumb, separator);
					padding: map.get($breadcrumb, padding);
				}

				&:not(:last-child) {
					a {
						opacity: 0.75;
					}
				}
	
				a {
					color: map.get($breadcrumb, color);
					text-decoration: none;
					line-height: 1;
					padding: map.get($breadcrumb, padding);
					border-radius: map.get($breadcrumb, border-radius);
					display: inline-block;
					transition: background-color 0.2s ease-in-out;
					
					&:hover {
						background-color: #d5d5d5;
					}
				}
			}
		}
	}
}
