@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as mix;
@use '../utilities/helpers' as h;

$_pn: my-account;

.#{$_pn} {

  section {
    padding-block: 7rem;
  }

  &__sidebar {
    height: auto;
    @include mix.flex-column-space-between;

    menu {
      list-style: none;

      li {

        // &:not(:last-child) {
        //   margin-bottom: 0.5rem;
        // }

        a {
          padding: 1rem;
          @extend .icon-link;

          &:hover {
            background-color: c.$grayscale-100;
          }
        }
      }
    }
  }
}
