@use 'sass:map';
@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as var;

.product {

  &__image {
    height: 550px;
    width: 100%;
    overflow: hidden;
    background-color: c.$grayscale-100;

    img {
      @include mix.image-cover-center;
    }
  }

  &__title {
    font-size: map.get(var.$fs, xxl);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  &__price {
    font-size: map.get(var.$fs, xl);
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 1rem;
  }
}
